:root{
    --main-font:'Roboto', "Sans","Lato", sans-serif;
    --secondary-font:'Raleway', "Montserrat", sans-serif;
    --title-text-colot: #212121;
    --accent-color: #2196F3;
    --primary-bg-color:#FFFFFF;
    --secondary-color:#757575;
}
